.root {
	-fx-background-color: #0C1252;
}

.table-view {
    -fx-font-size: 25px;
    -fx-alignment: center;
}

.table-view .column-header-background{
    -fx-background-color: #0C1252;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-family: 'Comic Sans MS';
}

.table-view .table-cell {
	-fx-alignment: center;
}